<!-- 
 /*
 * AUTHOR: Asheesh Yadav
 * DESCRIPTION: This is return page for when a new rectangle is added
 * DATE: 6/14/2024
 *
 */ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>User Rectangle Addition</title>
</head>
<body>
    <!-- see home.html for logic for this and footer division -->
    <div id="btns">
        <a id="home" href="/home.html">Home</a>
        <a id="about" href="/about.html">About</a>
        <a id="products" href="/users/view">Products</a>
    </div>
        <!-- Title -->
        <h1>Added User</h1>
        <!-- Showing it added a new rectangle  -->
         <!-- Reffering them to add a new one or see the rectangle they just added -->
        <div id="para">
            <p>Thank you for adding a new rectangle!</p>
            <p>If you would like to add another user, click the button below:</p>
            <a class="add" href="/add.html">ADD USER</a>
            <p>Or if you would like to see other users, click the button below:</p>
            <a class="add" href="/users/view">USERS</a>
        </div>
    </div>

   
    <div id="footer">
        Copyright Rectangle Innovations 2024
    </div> 
</body>
</html>