<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="btns">
        <a id="about"href="/about.html">About</a>
        <a id="products"href="/users/view">Products</a>
        <a id="home" href="/home.html">Home</a>
    </div>
   
    <h1> We are sorry to see you go :( </h1>
    <div id="para">
        <p> We are sorry to see you go, but we understand that sometimes things just don't work out. </p>
        <p> If you would like to make another Rectangle Click Add Rectanlge</p>
        <a class="add"href="/add.html">ADD RECTANGLE</a>
        <p> Or if you would like to see other Rectangles Click Products</p>
        <a class="add"href="/users/view">PRODUCTS</a>
        <p> In which ever case, We hope to see you again soon! <p>
    </div>
    <div id="footer">
        <!-- You can add content here -->
        </div>
   
    
</body>
</html>