<!-- 
 /*
 * AUTHOR: Asheesh Yadav
 * DESCRIPTION: This is return page for when a rectangle is updated successfully
 * DATE: 6/14/2024
 *
 */ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Updated User</title>
</head>
<body>
    <!-- see home.html for logic for this and footer division -->
    <div id="btns">
        <a id="about"href="/about.html">About</a>
        <a id="products"href="/users/view">Products</a>
        <a id="home" href="/home.html">Home</a>
    </div>
    
    <!-- basic messages and then refference to see the changes he made through the product page-->
    <div id="para">
        <h1> Your Rectangle has been edited! </h1>
        <h2> To view changes click below </h2>
        <a class="add"href="/users/view">PRODUCTS</a>
    </div>
    
    
    <div id="footer">
        Copyright Rectangle Innovations 2024
    </div> 
</body>
</html>