<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Updated User</title>
</head>
<body>
    <div id="btns">
        <a id="about"href="/about.html">About</a>
        <a id="products"href="/users/view">Products</a>
        <a id="home" href="/home.html">Home</a>
    </div>
    
    <div id="para">
        <h1> Your Rectangle has been edited! </h1>
        <h2> To view changes click below </h2>
        <a class="add"href="/users/view">PRODUCTS</a>
    </div>
    
    
    <div id="footer">
        <!-- You can add content here -->
    </div>     
</body>
</html>